
.about {

  letter-spacing: 0.055em;

  background-color: $color-gray-light;

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }
h2 {
  margin-top: 0;
  @include lg-min {
    margin-bottom: 56px;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 42px;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: 36px;
    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 36px;

    text-align: center;

    font-size: 1.5rem;
  }
}
  &__container {
    display: grid;

    @extend %container;
    @include lg-min {
      grid-gap: 100px;
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      grid-gap: 40px;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      grid-gap: 20px;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      grid-gap: 20px;
      grid-template-columns: 1fr ;
    }


    &__content  p:first-of-type {
      position: relative;

      margin-top: -5px;

      @include lg-min {
        font-size: 1.125rem;
      }
    }
    &::after {
      position: absolute;
      top: 0;

      width: 2px;
      height: 200px;

      content: "";

      background-color: rgba(99, 117, 136, 0.1);
    }
  }



  &__image {
    display: grid;
    justify-items: center;

    img {
      
      align-content: center;

      max-width: 100% ;
      max-height: 480px  ;
  
      
    }
  }
}
