.form {
  padding: 30px 0;

  background-color: $color-primary;

  &__container {
    display: grid;

    @extend %container;
    grid-gap: 20px;
    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: 1fr 1fr;
    }
  }
  &-item {
    &:nth-of-type(1) {
      @include md-sm {
        grid-column: 1 / span 2;
      }
    }
  }





  &__input {
    color: $color-light;
  }
  &__btn-accent {
    width: 100%;

    color: $color-light;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      cursor: pointer;

      border-color: $color-light;
      background-color: $color-accent;
    }
  }
}
